body {
    background-color: #f9f8eb;
}

.container {
    padding: 20px;
    margin-top: 50px;
    align-content: center;
}

.navbar-custom {
    background-color: #76b39d;
}

/* brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #f9f8eb;
}

/* link color */
.navbar-custom .navbar-nav .nav-link {
    color: #f9f8ebb0;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,.navbar-custom .navbar-brand:hover {
    color: #f9f8eb;
}

/* line */
.line {
    border: 1.4px #76b39d80 solid;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 20px;
}

/* colors */
header, p {
    color: #05004e;
}

.profile-a {
    color: #fd5f00;
}

.profile-a:hover {
    color: #fd5f00;
}

h3 {
    color: #f9f8eb;
    background-color: #05004e;
    width: 300px;
}

.word-guess, .rpg, .trivia, .rutgers, .rock {
    margin-bottom: 50px;
    margin-right: 50px;
    overflow:hidden;
}

.rock {
    margin-left: 15px;
}

.port-img {
    width: 300px;
    opacity: 0.8;
}

.port-img:hover {
    opacity: 1.0;
}

a:hover {
    text-decoration: none;
}

label {
    color: #05004e;
}

.btn-primary {
    background-color: #fd5f00;
    border-color: #f9f8eb;
    color: #f9f8eb;
}

.btn-primary:hover {
    background-color: #fd5f00;
    border-color: #fd5f00;
    color: #f9f8eb;
}

/* footer */
.footer {
    text-align: center;
    background-color: #fd610033;
}

.text-muted {
    color: #05004e
}

@media (min-width: 576px) { 
    .profile-pic {
        width: 200px;
    }
}